@font-face {
    font-family: 'Nikkyou Sans';
    src: url("assets/fonts/Nikkyou-Sans.woff2") format("woff2"), url("assets/fonts/Nikkyou-Sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
